---
layout: default
title:  Home
date:   2014-04-06 20:43:11
categories: major
---

{% include header.html %}

<section id="intro" name="intro">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 col-lg-push-1">
                {% capture intro %}{% include intro.md %}{% endcapture %}
                {{ intro | markdownify }}
            </div>
        </div>
    </div>
</section>


<section id="features" name="features">
    <div class="container">
        <div class="row centered">
            <h1>Features</h1>
            <br>
            <br>
            {% for page in site.pages %}
                {% if page.categories contains 'feature' %}
                    {% cycle 'add rows': '<div class="row">', nil, nil %}
                        <div class="col-lg-4">
                            <i class="{{page.icon_class}} icon-large"></i>
                            <h3>{{page.title}}</h3>
                            <p>{{page.content}}</p>
                        </div>
                    {% cycle 'close rows': nil, nil, '</div>' %}
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>

<section id="howitworks" name="howitworks">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                {% capture howitworks %}{% include howitworks.md %}{% endcapture %}
                {{ howitworks | markdownify }}
            </div>
        </div>
    </div>
</section>

<section id="usage" name="usage">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                {% capture usage %}{% include usage.md %}{% endcapture %}
                {{ usage | markdownify }}
            </div>
        </div>
    </div>
</section>

