<section id="home" name="home">
    <div id="headerwrap">
        <div class="container">
            <div class="row centered">
                <div class="col-lg-12">
                    <h1>TestPackage</h1>

                    <h3>Set your tests free</h3>
                    <br>
                </div>

                <div class="col-lg-10 col-lg-push-1">
                    <div class="code">
                        <div class="step">$ java -jar AboutTestPackage.jar</div>
                        <div class="green step">&#10004; Packages up tests to be executed anywhere, any time <span
                                class="blue">(1 ms)</span>
                        </div>
                        <div class="green step">&#10004; Just command line; no dev tool dependencies <span
                                class="blue">(1 ms)</span></div>
                        <div class="green step">&#10004; Uses coverage to select smoke tests for you <span
                                class="blue">(1 ms)</span>
                        </div>
                        <div class="green step">&#10004; Clear, easy to scan output <span class="blue">(1 ms)</span>
                        </div>
                        <div class="green step">&#10004; Runs recently-failed tests first, with optional fail-fast
                            support <span
                                    class="blue">(1 ms)</span></div>
                        <div class="green step">&#10004; Compatible with regular JUnit tests and Jenkins <span
                                class="blue">(1 ms)</span></div>
                        <div class="green step">&#10004; Test sharding for easy parallel running <span
                                class="blue">(1 ms)</span></div>
                        <div class="step"><br/><br/>
                            *** TESTS COMPLETE<br/>
                            *** <span class="green-bg">7 passed</span>, 0 failed, 0 ignored
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/ .container -->
    </div>
</section>
<!--/ #headerwrap -->