
.icon-eye-outline:before { content: '\e800'; } /* '' */
.icon-thumbs-up:before { content: '\e801'; } /* '' */
.icon-wrench-outline:before { content: '\e802'; } /* '' */
.icon-lightbulb:before { content: '\e803'; } /* '' */
.icon-loop-alt:before { content: '\e804'; } /* '' */
.icon-target:before { content: '\e805'; } /* '' */
.icon-gift:before { content: '\e806'; } /* '' */
.icon-github:before { content: '\e807'; } /* '' */