[class^="icon-"], [class*=" icon-"] {
    font-family: 'testpackage-icons';
    font-style: normal;
    font-weight: normal;

    /* fix buttons height */
    line-height: 1em;

    /* you can be more comfortable with increased icons size */
    /* font-size: 120%; */
}

.icon-gift {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe800;&nbsp;');
}

.icon-eye-outline {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe801;&nbsp;');
}

.icon-target {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe802;&nbsp;');
}

.icon-lightbulb {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe803;&nbsp;');
}

.icon-wrench-outline {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe804;&nbsp;');
}

.icon-thumbs-up {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe805;&nbsp;');
}

.icon-loop-alt {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe806;&nbsp;');
}

.icon-flow-parallel {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe807;&nbsp;');
}

.icon-cog-outline {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe808;&nbsp;');
}

.icon-flash-outline {
    *zoom: expression( this.runtimeStyle['zoom'] = '1', this.innerHTML = '&#xe809;&nbsp;');
}